.dark-mode{
    background-color: darken($grisOscuro, $amount: 10);

    p {
        color: $blanco;
    }

    a, h1,h2,h3,h4{
        color: $gris;
    }

    .card{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio{
            color: $verde;
        }
        .icono{
            filter: invert(100);
        }
    }

   
}