@include tablet{
    .contenedor-anuncios{
        @include grid(3, 2rem);
       

    }
}

.card{
    background-color: lighten($gris, 5);
    border: 1px solid darken($gris, 5);
    border-radius: 40px;
    margin-bottom: 2rem;

    .contenido-anuncio{
        padding: 2rem;
     
    }

    h3,p{
        margin: 0;
    }
  

}

.precio{
    color: $verde;
    font-weight: $bold;
    font-weight: 3rem;
}


.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 60rem;
    li{
        flex: 1;
        display: flex;

        img{
            flex: 0 0 2.52rem;
            margin-right: 1.0rem;
      
            &:first-child{
                margin-left: 2rem;
            }
        }
       
    }
    p{
        font-weight: $black;
    }
}



picture img{
    border-image-width: 25%;
    border: silver 3px solid;  
    border-radius: 5%;
}



