.barra{
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        // img{ //Esta clase se la agregue al enlace
        //     flex: 1;
        // }
        .navegacion {
            display: flex;
            // flex: 1;
        }
         a  {
             width: 35%;
        }
       
    }
   
}

.navegacion{

    @include tablet{
        display: flex;
        align-items: center;
    }

    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        font-size: 1.8rem;

        @include tablet{
            margin-right: 2rem;

            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}